<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Vehicle Tracking - {{ title }}</title>
    {% else %}
        <title>Vehicle Tracking</title>
    {% endif %}
</head>
<body>
	<header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Vehicle Tracking</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </header>
	{% if trucks %}
	 	<table border=5 width="75%" height="75%" align='center'>
	 		<thread>
	 			<tr>

	 				<th>TRUCK ID</th>
	 				<th>TRUCK TYPE</th>
	 				<th>UPDATED TIME</th>

	 			</tr>
	 		</thread>

	 		<tbody>
	 			{% for row in trucks%}
	 			<tr>
	 				<td> {{row.truck_id}}</td>
	 				<td> {{row.truck_type}}</td>
	 				<td> {{row.truck_time}}</td>
	 			</tr>

	 			{% endfor %}

	 		</tbody>

	 	</table>

	 {% endif %}

	 <legend class="border-bottom mb-4"></legend>
	 <div class align='center'>
		 <a href="{{ url_for('update') }}">
		 	<button>Update</button>
		 </a>
	 </div>

	 <form method="POST" action="">
         {{ form.hidden_tag() }}
         <fieldset class="form-group">
        	<legend class="border-bottom mb-4"></legend>
         	<div class="form-group" align='center'>
         		<input class="btn btn-outline" type="submit" value="Track">
         	</div>
        </fieldset>
     </form>


	 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="
	 sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


